body {
  background-color: bisque;
  font-family: 'Google Sans', system-ui, serif;
}

main {
  display: flex;
  line-height: 1.5;
  padding: 2rem 1rem;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
}

a {
  color: #000;
}

.header {
  border-bottom: 1px solid rgba(180, 180, 180, 0.349);
}

.first-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 800px;
  justify-content: space-between;
  background-color: white;
  align-items: center;
}

.body-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 800px;
  justify-content: space-between;
  background-color: white;
}

.btn-flex {
  display: flex;
  flex-direction: row;
  width: 800px;
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.wrapper {
  padding: 10px;
}

.input {
  border: none;
  line-height: 40px;
  font-size: 20px;
}

.input::placeholder {
  font-weight: 400;
  font-style: italic;
}

.input:focus-visible {
  outline: none;
}

.title > h1 {
  font-size: 15px;
  font-weight: 400;
}

.todo-body {
  justify-content: space-around;
}

.todo-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(180, 180, 180, 0.349);
}

.completed {
  background-color: rgb(255, 255, 255);
  border: none;
  line-height: 3;
  color: rgb(0, 0, 0);
}

.completed:active {
  background-color: rgb(251, 251, 251);
}

.todo-data {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item {
  border-bottom: 1px solid rgba(180, 180, 180, 0.349);
  height: 30px;
}

.list-container {
  display: flex;
  align-items: center;
  height: 30px;
}

.check-input {
  margin-left: 10px;
}

.todo-text {
  margin-left: 20px;
}

.del-menu {
  margin-left: auto;
  margin-right: 10px;
}
